form {
    .input-wrapper {
      height: 100%;
      width: 100%;
      position: relative;
      text-align: left;
      padding: 0 !important;
      margin-bottom: 50px;
      input {
        height: 100%;
        background-color: #F5F5F5;
        width: 100%;
        font-size: 24px;
        border: none;
        border-bottom: solid 1px black;
        transform: translate(0, 0);
        padding: 0;
        padding-bottom: 10px;
        box-sizing: content-box;
        &:focus, &:active {
          outline: none;
        }
        &:focus + label, &:focus-within + label, &:active + label, &.active + label {
          transform: translate(0rem, -1.5rem);
          transition: all 0.2s ease-out;
          font-size: 10px;
        }
      }
      label {
        position: absolute;
        width: 100%;
        text-align: left;
        left: 0;
        pointer-events: none;
        color: black;
        top: 0;
        transition: all 0.2s ease-out;
      }
    }
    button {
      width: 20vw;
      height: 100%;
      border-radius: 0 !important;
      span {
        font-size: 24px;
      }
    }
  }