@media only screen and (max-width: 1024px) {
    .slick-slider .slick-list .slick-slide div.text-content, .slick-slider .slick-track .slick-slide div {
        flex-direction: column;
        .text-content {
            width: 100%;
        }
    }
    .slick-slider .slick-dots {
        bottom: 0;
        display: flex !important;
        width: 100%;
        margin: 15px 0;
        justify-content: center;
    }
    .slick-slider .slick-arrow.slick-next {
        right: -20px;
        top: 5%;
    }
    .slick-slider .slick-arrow .slick-prev {
        display: none;
    }
    .slick-slider .slick-list p, .slick-slider .slick-track p {
        margin: 20px 0 0;
    }
}