.third-section.about-us {
    background-color: #001B66;
    color: #fff;
    padding: 0px 10vw 100px;
    h3 {
        color: #54E8B2;
    }
    div:first-of-type {
        text-align: left;
        justify-content: flex-start;
        .subtitle-border span {
            border: 1px solid #fff;
        }
    }
    .content {
        display: flex;
        justify-content: space-between;
    }
}