footer {
  padding: 50px 10vw;
  background-color: #5555C6;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 200px;
    height: auto;
  }

  table {
    width: 40vw;
  }

  tbody, thead {
    th {
      text-align: left;
      font-weight: 700;
      padding: 7px 0;
    }
    tr {
      td{
        width: 20%;
        font-weight: 400; 
        text-align: left;  
        vertical-align: top;
        &:last-of-type{
          ul {
            display: flex;
            li {
              margin: 0 7px 0 0;
            }
          }
        }
      }
    }
  }
  ul{
    li {
      list-style-type: none;
      width: max-content;
    }
  }
}