@media only screen and (max-width: 1024px) {
  .App {
    section {
      padding: 0 5vw;
      div:first-of-type {
        text-align: left;
        padding: 45px 0 25px;
      }
      .subtitle-border {
        justify-content: left;
      }
      h2 {
        font-size: 1.5rem;
        line-height: 1.25;
      }
      h3 {
        line-height: 1.25;
      }
    }
    .subtitle-border {
      margin: 15px 0 !important;
    }
  }
}